
/* Navigation  */
     #navbar{
        flex-direction: column;

     }
/* Home section */
#home{
 height: 380px;
padding: 3px 68px;
}
#home::before{
   height: 480px;
    
   }
#home p{
    font-size: 13px;
}

/* services section  */
#services{



}
#services .box{
flex-direction: column;


} 

/* Client section */
#client
{

}

/* contact us section */

/* Footer section  */

/* utility classes */
.h-primary{
    font-size: 26px;
}